name: Build StrawLinux ISO

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build-iso:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Build ISO
        uses: 2m/arch-iso-build@v2
        with:
          target_path: './'      # build.yml ile aynı dizindeki dosyaları kullan
          output_path: 'out'     # Çıktıyı out klasörüne at
          # Ek paket deposu (Chaotic AUR) ekle
          additional_repositories: |
            [chaotic-aur]
            SigLevel = Never
            Server = https://cdn-mirror.chaotic.cx/chaotic-aur/$arch
      
      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: StrawLinux-ISO
          path: out/*.iso
